/* Colors */
$background-color: #182955; 
$primary-color: #fff;
$highlight-color: #FFB800;
$audio-color: #73C2E0;
$correct-color: rgba(#95D9AF, 0.75);
$incorrect-color: rgba(#DB9292, 0.75);

/* Breakpoints for responsive design */
$breakpoint-desktop: 376px;
$breakpoint-mobile: 375px;

/* Fonts */
$font-stack: "Avenir Next", sans-serif;
$font-size-desktop: 15px;
$font-size-mobile: 11px;
$border-radius: 9px;

/* Utility classes */
.disable {
    pointer-events: none;
    opacity: 0.4;
}