/* Colors */
$background-color: #182955; 
$primary-color: #fff;
$between-color: #FFB800;



/* Fonts */
$font-stack: "Avenir Next", sans-serif;
$font-size: 15px;
$border-radius: 9px;


/* Typography */
body {
    font-family: $font-stack;
    font-size: $font-size;
    color: $primary-color;
}

h1.question {
    font-size: 2.4rem;
    font-weight: 500;
}