.btn {
    background-color: transparent;
    color: rgba($primary-color, 0.75);
    border: 2px solid rgba($primary-color, 0.75);
    border-radius: $border-radius;
    width: 136px;
    height: 36px;
    
    &.disabled {
        border: 2px solid rgba($primary-color, 0.50);
    }

    &:hover {
        border: 2px solid $highlight-color;
        color: $highlight-color;
        cursor: pointer;
    }
    
    &:focus {
        outline: none;
    }
}