%hover-style {
    border: 2px solid;
    cursor: pointer;
}

%highlighted-style {
    border-color: $highlight-color;
    color: $highlight-color;
}

%disabled-style {
    border: 2px solid rgba($primary-color, 0.25);
    color: rgba($primary-color, 0.25);
    cursor: not-allowed;
}

%button-style {
    background-color: transparent;
    color: rgba($primary-color, 0.75);
    border: 2px solid rgba($primary-color, 0.75);
    border-radius: $border-radius;
}

#speaker-btn {
    @extend %button-style;
    width: 120px;
    height: 120px;
    &:hover {
        @extend %hover-style;
        border-color: $audio-color;
    }
}

#action-btn {
    @extend %button-style;
    @extend %highlighted-style;
    width: 131px;
    height: 37px;
    
    &:hover {
        background-color: rgba($highlight-color,0.90);
        color: $background-color;
    }

    &.disabled {
        @extend %disabled-style;
    }

    &.highlight {
        @extend %highlighted-style;
    }


    
}

.btn {
    @extend %button-style;
    width: 136px;
    height: 36px;

    &.highlight {
        @extend %highlighted-style;
    }

    &:hover {
        @extend %hover-style;
        @extend %highlighted-style;
    }
    
    &:focus {
        outline: none;
    }
}