/* Layouts */
body {
    background-color: $background-color;
}

%white-border {
    border-top: 2px solid rgba($primary-color, .5);
}

.container {
    max-width: 810px;
    margin: 0 auto;
    padding: 4%;
    // height: 50vh;

    .inner-container{
        @extend %white-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
    }
}

.choice-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    max-width: 600px;

    .btn {
        grid-column: span 2;
    }

    .btn:nth-child(9) {
        grid-column: 2 / span 2;
    }
}


footer {
    @extend %white-border;
    
    .container {
        display: flex;
        justify-content: space-between;
    }
}

