/* Layouts */
body {
    background-color: $background-color;
}

.container {
    max-width: 810px;
    margin: 0 auto;
    padding: 4%;
    height: 50vh;

    .inner-container{
        border-top: 2px solid rgba($base-color, .5);
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

.choice-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    width: 600px;
}


footer {
    
}

